/* quix main style */
.quizmain-loading,
quizmain-end {
  color: white;
  font-size: 3rem;
  text-align: center;
}
.quizmain-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100vw;
  color: white;
}
.quizmain-end {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.quizmain-end > h1 {
  margin-bottom: 2rem;
  font-weight: 600;
  font-size: 3rem;
  color: rgb(237, 221, 72);
}
.quizmain-end > p {
  font-size: 2rem;
  font-weight: 500;
}
